.main-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.buttonIn {
    width: 75%;
    position: relative;
    margin: 50px;
    transform: translateY(-145%);
}
  
.listStyle{
    font-size: 25px;
    color: grey;
    font-weight: 300;
}

input[type="text"] {
    margin: 0px;
    width: 100%;
    outline: none;
    height: 55px;
    border-radius: 5px;
    padding: 15px;
    font-size: 25px;
    color:grey;
    border:none
}


input[type="text"]::placeholder {
    padding: 15px;
    font-size: 25px;
}

button {
    position: absolute;
    top: 0;
    border-radius: 5px;
    right: 0px;
    z-index: 2;
    border: none;
    height: 55px;
    cursor: pointer;
    color: white;
    padding:0% 5% 0% 5%;
    background-color: #00a85b;
    transform: translateX(2px);
    font-size: 30px;
}

li{
    list-style-type: none;
}

/* .card-listing {
    display:flex;
    justify-content:space-between
}

.list-card-child {
    display:flex;
    flex-wrap:wrap;
    word-break:break-all
} */