.navbar{
    background: linear-gradient(#009E61,#00787C, #005093);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:6%;
    min-height: 100%;
    gap:5%;
    text-align: center;
}

h2{
    padding-bottom: 30px;
}

.delete-icon{
    width: 30px;
    height:30px
}